
@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrador</h2>

@if (Session["IDUsuario"] != null)
{
    <h4>Bienvenido @Session["IDUsuario"].ToString() </h4>
}


