@model ProyectoVuelaSA.Models.asiento

@{
    ViewBag.Title = "SelectSeat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SelectSeat</h2>

<div>
    <table style="height: 234px;" width="232" cellspacing="16" cellpadding="10">
        <tbody>
            <tr>
                <td style="width: 12px;">A</td>
                <td style="width: 12px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;">&nbsp;</td>
                <td style="width: 12.8px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;">&nbsp;</td>
                <td style="width: 13.6px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 13.6px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 14.4px;">&nbsp;</td>
                <td style="width: 14.4px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 14.4px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
            </tr>
            <tr>
                <td style="width: 12px;">B</td>
                <td style="width: 12px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;">&nbsp;</td>
                <td style="width: 12.8px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;">&nbsp;</td>
                <td style="width: 13.6px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 13.6px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 14.4px;">&nbsp;</td>
                <td style="width: 14.4px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 14.4px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
            </tr>
            <tr>
                <td style="width: 12px;">C</td>
                <td style="width: 12px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;">&nbsp;</td>
                <td style="width: 12.8px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;">&nbsp;</td>
                <td style="width: 13.6px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 13.6px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 14.4px;">&nbsp;</td>
                <td style="width: 14.4px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 14.4px;"><img src="http://www.funkybananas.co.za/media/catalog/product/cache/1/thumbnail/256x256/9df78eab33525d08d6e5fb8d27136e95/i/m/image_719.jpg" alt="" width="32" height="32" /></td>
            </tr>
            <tr>
                <td style="width: 12px;">&nbsp;</td>
                <td style="width: 12px;">&nbsp;</td>
                <td style="width: 12.8px;">&nbsp;</td>
                <td style="width: 12.8px;">&nbsp;</td>
                <td style="width: 12.8px;">&nbsp;</td>
                <td style="width: 12.8px;">&nbsp;</td>
                <td style="width: 12.8px;">&nbsp;</td>
                <td style="width: 13.6px;">&nbsp;</td>
                <td style="width: 13.6px;">&nbsp;</td>
                <td style="width: 14.4px;">&nbsp;</td>
                <td style="width: 14.4px;">&nbsp;</td>
                <td style="width: 14.4px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 12px;">D</td>
                <td style="width: 12px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;">&nbsp;</td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 13.6px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 13.6px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 14.4px;">&nbsp;</td>
                <td style="width: 14.4px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 14.4px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
            </tr>
            <tr>
                <td style="width: 12px;">E</td>
                <td style="width: 12px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;">&nbsp;</td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 13.6px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 13.6px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 14.4px;">&nbsp;</td>
                <td style="width: 14.4px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 14.4px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
            </tr>
            <tr>
                <td style="width: 12px;">F</td>
                <td style="width: 12px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;">&nbsp;</td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 13.6px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 13.6px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 14.4px;">&nbsp;</td>
                <td style="width: 14.4px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 14.4px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
            </tr>
            <tr>
                <td style="width: 12px;">G</td>
                <td style="width: 12px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;">&nbsp;</td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 12.8px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 13.6px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 13.6px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 14.4px;">&nbsp;</td>
                <td style="width: 14.4px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
                <td style="width: 14.4px;"><img src="https://diseno-casa.com/wp-content/uploads/2017/05/Colores-Verdes-Im%C3%AD%C2%A1genes-De-Color-Verde-Im%C3%AD%C2%A1genes.jpg" alt="" width="32" height="32" /></td>
            </tr>
        </tbody>
    </table>
</div>